# Server Configuration
PORT=3000
NODE_ENV=development

# Telegram Bot Configuration
BOT_TOKEN=8406287846:AAEDeB5cOzsRrvCCMunzUHGqNI8W_LkwhnE
BOT_USERNAME=Prospase_test_bot

# Frontend URL (для production)
FRONTEND_URL=https://your-domain.com

